<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98307751775-2i02dv77ktajvu5jpdfcle1mc9553qq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98307751775-2i02dv77ktajvu5jpdfcle1mc9553qq2</string>
	<key>API_KEY</key>
	<string>AIzaSyDGx0QbeMkxIdBhx4eVm3EK9tGA_UZTkkc</string>
	<key>GCM_SENDER_ID</key>
	<string>98307751775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khaled2024.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>messenger-b0bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-b0bcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98307751775:ios:62a11515a4db98ecc800ea</string>
</dict>
</plist>